@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<div class="container-fluid">
  <h1>Sayfamıza Hoşgeldiniz</h1>
  <p>Bayram Kargin</p>
  <p>-----------------------------------------------.</p>
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"> <img width="500px" src="images//beyaz-kazak.jpeg"></div>
            <div class="col-sm-4" style="background-color:lavenderblush;"><img width="500px" src="images//haki-kazak.jpeg"></div>
            <div class="col-sm-4" style="background-color:lavender;"><img width ="500px" src="images//grı-kazak.jpeg"></div>
  </div>
</div>

</div>
