@model WebProgramlamaOdev2.Models.Urunler

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Urunler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UrunAdi" class="control-label"></label>
                <input asp-for="UrunAdi" class="form-control" />
                <span asp-validation-for="UrunAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrunAcıklama" class="control-label"></label>
                <input asp-for="UrunAcıklama" class="form-control" />
                <span asp-validation-for="UrunAcıklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrunFiyat" class="control-label"></label>
                <input asp-for="UrunFiyat" class="form-control" />
                <span asp-validation-for="UrunFiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
